.footer * {
  text-decoration: none;
  list-style: none;
}

.footer {
  background-color: var(--bg-header-footer);

  padding: 0px 20px 20px 20px;

  display: flex;
  flex-direction: column;
}

/* footer * {
  border: 1px solid red;
} */

/* .container-footer-upper,
.container-subscribe,
.container-copyright {
  margin-top: 20px;
  margin-bottom: 20px;
} */

/*=====================================================================
  container-footer-upper starts here
======================================================================*/

/* .container-footer-upper * {
  border: 1px solid red;
} */

.container-footer-upper {
  display: flex;
  flex-wrap: wrap;

  padding-bottom: 20px;
}

.container-footer-upper > * {
  flex-basis: 20%;
  padding: 20px 20px 0px 20px;
}

.container-contact,
.container-links,
.container-news {
  display: flex;
  flex-direction: column;
}

.container-contact *,
.container-links *,
.container-news * {
  text-align: center;
  color: var(--text-dark);
  font-size: 12px;
}

.container-contact .heading,
.container-links .heading,
.container-news .heading {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-primary);
}

.container-contact li,
.container-links li,
.container-news li {
  margin-top: 10px;
}

.container-contact a:hover,
.container-links a:hover,
.container-news a:hover {
  color: var(--color-primary);
}

.container-contact i {
  margin-right: 5px;
}

/*=====================================================================
  container-subscribe starts here
======================================================================*/

/* .container-subscribe * {
  border: 1px solid red;
}  */

.container-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px 0px 20px 0px;
}

#input-subscribe,
#btn-subscribe {
  height: 30px;
  padding: 0px 10px 0px 10px;
  border: none;
}

#input-subscribe:focus {
  outline: none;
}

#btn-subscribe {
  background-color: var(--color-primary);
  color: var(--text-light);
  font-weight: bold;
  text-transform: uppercase;
}

#btn-subscribe:hover {
  background-color: orangered;
  color: var(--text-dark);

    transition-property: background;
    transition-duration: 250ms;
}

#socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 10px;
}

#socials a {
  text-decoration: none;
  margin: 8px 8px 0px 8px;
}

#socials i {
  color: var(--text-dark);
}

#socials i:hover {
  color: var(--color-primary);

  transition-property: color;
  transition-duration: 150ms;
}

/*=====================================================================
  container-copyright
======================================================================*/

.container-copyright {
  color: var(--text-dark);
  margin-top: 20px;
}

.container-copyright p {
  text-align: center;
}


@media (max-width: 1000px) {
  .container-footer-upper {
    flex-shrink: 0;
    flex-grow: 0;
  }
  .container-footer-upper > * {
    flex-basis: 33.33%;
  }
}

@media (max-width: 600px) {
  .container-footer-upper > * {
    flex-basis: 50%;
    padding: 20px 10px 0px 10px;
  }
}